@font-face {
	font-family: "KP Programmer NBP";
	src: url("/fonts/KPRO_A.ttf");
}
body{
	background-color: #1c1717;
}
p, li{
	color: white;
}
ul{
	list-style-type: none;
	padding: 0;
	margin: auto;
	width: 90%;
}
#gameContainer{
	position: relative; 
	background-color: white;
	margin: auto;
}
#gameCanvas{
	width: 100%;
	height: 100%;
}
.noMarginPadding{
	margin: 0;
	padding: 0;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/*Unselectable  */
	/*https://stackoverflow.com/questions/924916/is-there-a-way-to-make-a-div-unselectable  */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
	user-select: none;
	/*  */
	cursor: crosshair;
}
#bossHP{
	font-size: 1.2vw;
	background: black;
	padding-top: 0.5vw;
	padding-bottom: 0.15vw;
}
#bossHealthBar{
	background: #db3939;
	height: 0.15vw;
	width: 0.0;
}
.gameText{
	font-family: "KP Programmer NBP";
}
.normalText{
    font-family: 'Unica One';
}
.mediumTextSize{
	font-size: 1.5vw;
}
.bigTextSize{
	font-size: 2.0vw;
}
.selectable{
	transition: transform 0.05s;
	text-shadow: 0 0 0.5vw white;
}
.selectable:hover{
	transform: scale(1.1);
}
.centerText{
	text-align: center;
}
#mainMenuList{
	margin-top: 110%;
}
/* Cool border animations */
/* https://stackoverflow.com/questions/28623446/expand-bottom-border-on-hover */
.mainMenuButton:after{
	display: block;
	content: '';
	border-bottom: solid 1px white;
	transform: scaleX(0);
	transition: transform 0.1s ease-in-out;
}
.mainMenuButton:hover:after{
	transform: scaleX(1);
}